<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-button shape="round" fill="clear" [routerLink]="['/tabs/tab2']" >
        <ion-icon slot="icon-only" name="chevron-back-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Bloco de Notas</ion-title>
      <ion-button shape="round" fill="clear" id="open-modal">
        <ion-icon slot="icon-only" name="add-outline"  color="primary"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="block-notFound"  *ngIf="!notes || notes.length === 0; else elseNotes">
    <p class="ion-text-center">Você não possui nenhuma anotação</p>
    <ion-button shape="default" (click)="openModal()" class="button">Criar</ion-button>
  </div>
  <ng-template #elseNotes>
    <div *ngFor="let note of notes">
      <ion-card class="primary">
        <ion-card-header>
          <ion-card-title>
            {{ note.titleNote }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ note.annotationNote }}
        </ion-card-content>
        <div class="button-link ion-text-end">
          <ion-button shape="round" fill="clear" id="present-alert" (click)="presentAlert(note.titleNote)">
            <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="clear" (click)="editNote(note.titleNote)" >
            <ion-icon slot="icon-only" name="chevron-forward-sharp" color="primary"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>
  </ng-template>
  
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form (ngSubmit)="saveNote()" [formGroup]="noteForm">
          <ion-input labelPlacement="stacked" placeholder="Titulo" formControlName="titleNote"></ion-input>
          <div *ngIf="noteForm.get('titleNote')?.errors?.['required'] && (noteForm.get('titleNote')?.dirty || noteForm.get('titleNote')?.touched)">
            <ion-text color="danger">
              <p>O título é obrigatório.</p>
            </ion-text>
          </div>
          <div *ngIf="noteForm.get('titleNote')?.errors?.['maxlength'] && (noteForm.get('titleNote')?.dirty || noteForm.get('titleNote')?.touched)">
            <ion-text color="danger">
              <p>O título deve ter no máximo 40 caracteres.</p>
            </ion-text>
          </div>
          <ion-textarea aria-label="Comments" placeholder="Comece a digitar..." rows="20" maxlength="250" formControlName="annotationNote"></ion-textarea>
          <div *ngIf="noteForm.get('annotationNote')?.errors?.['required'] && (noteForm.get('annotationNote')?.dirty || noteForm.get('annotationNote')?.touched)">
            <ion-text color="danger">
              <p>A anotação é obrigatória.</p>
            </ion-text>
          </div>
          <div *ngIf="noteForm.get('annotationNote')?.errors?.['maxlength'] && (noteForm.get('annotationNote')?.dirty || noteForm.get('annotationNote')?.touched)">
            <ion-text color="danger">
              <p>A anotação deve ter no máximo 250 caracteres.</p>
            </ion-text>
          </div>
          <ion-button shape="default" type="submit" expand="full" [disabled]="!noteForm.valid">Salvar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
