ion-header{
    padding: .5rem 1rem;
}

ion-content{
    height: 100vh;
}

.avatar{
    padding-top: 1rem;

    ion-avatar{
        margin: auto;
        width: 100px;
        height: 100px;
    }

    ion-text{
        h1{
            font-size: 1rem
        }
    }
}

.buttons-config{
    padding: 1rem;
    .buttons-config-content{
        .buttons-config-list{

            a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid var(--ion-color-primary);
                padding: 1rem;
                box-shadow: 1px 9px 0px -5px rgba(0,0,0,1);
                height: 50px;
                width: 100%;
                margin-bottom: .5rem;
                text-decoration: none;

                .button-config-label{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }

                ion-icon{
                    font-size: 1.5rem;
                }
            }
        }
    }
}