ion-content{
    height: 100vh;
}

.avatar{
    padding-top: 1rem;

    ion-avatar{
        margin: auto;
        width: 100px;
        height: 100px;
    }

    ion-text{
        h1{
            font-weight: bold;
            color: #212121;
        }
    }
}

.history{
    padding-top: 1rem;
    padding-bottom: 1rem;

    .history-content{

        .history-header{
            margin-bottom: 1rem;
            ion-text{
                h2{
                    font-size: 1rem;
                    margin: 0;

                }
            }
        }

        .history-itens{
            display: flex;
            align-items: center;
            gap: 8px;
    
            .history-item{
                display: flex;
                flex-direction: column;

                .circle, .bar{
                    display: block;
                }
    
                .circle{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
    
                    &.primary{
                        background-color: var(--ion-color-primary);
                    }
    
                }
    
                .bar{
                    max-height: 100px;
                    min-height: 130px;
                    position: relative;
                    top: -30px;
                    border-radius: 30px;
                    z-index: -1;
                    width: 40px;
    
                    &.primary-secondary{
                        background-color: #FFF2D1;
                    }
                }

                ion-text{
                    margin-top: -1rem;
                    text-align: center;
                }
            }
        }
    }
}

.buttons-actions{


    .buttons-actions-content{
        border: 1px solid #9E9D9D;
        border-radius: var(--radius-custom);
        padding: 1rem;
    }

    ion-item{
        --padding-start: 0;
        --padding-end: 0;
        
        &:last-child{
            --border-color: #FFF;
        }
    
        ion-label{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .label-description{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
}