ion-header{
    padding: .5rem 1rem;
}


ion-content{
    height: 100vh;
}

.avatar{
    padding-top: 1rem;

    ion-avatar{
        margin: auto;
        width: 100px;
        height: 100px;
    }

    ion-text{
        h1{
            
            color: #212121;
        }
    }
}
