<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-button shape="round" fill="clear" [routerLink]="['/tabs/tab2']" >
        <ion-icon slot="icon-only" name="chevron-back-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Lista de Afazeres</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="block-notFound"  *ngIf="!tasks || tasks.length === 0; else elseTasks">
    <p class="ion-text-center">Você não possui nenhuma lista</p>
    <ion-button shape="default" (click)="openModal()" class="button" fill="outline">Criar</ion-button>
  </div>
  <div class="toDoList">
    <div class="toDoList-content">
      <ng-template #elseTasks>
        <div class="toDoList-items">
          <ion-list>
            <ion-item *ngFor="let task of tasks; let i = index">
              <ion-checkbox name="title-checkbox" labelPlacement="end" justify="start" [(ngModel)]="task.completed" [ngClass]="{'completed': task.completed}" (click)="toggleTaskCompleted(task)">
                <ion-label>{{ task.title }}</ion-label>
              </ion-checkbox>
              <ion-button color="primary" fill="clear" (click)="presentAlert(task.title)">
                <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
              </ion-button>
              <ion-button color="primary" fill="clear" (click)="editTask(task)">
                <ion-icon slot="icon-only" name="chevron-forward-sharp" color="primary"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </ng-template>
    </div>
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form (ngSubmit)="saveToDo()" [formGroup]="toDoForm">
          <ion-input 
            labelPlacement="stacked" 
            placeholder="O que iremos fazer?" 
            formControlName="title">
          </ion-input>
          <ion-select color="primary" fill="outline" placeholder="Tarefa concluída?" formControlName="completed">
            <ion-select-option value="true">Sim</ion-select-option>
            <ion-select-option value="false">Não</ion-select-option>
          </ion-select>

          <div *ngIf="toDoForm.get('title')?.errors?.['required'] && (toDoForm.get('title')?.dirty || toDoForm.get('title')?.touched)">
            <ion-text color="danger">
              <p>O título é obrigatório.</p>
            </ion-text>
          </div>
          <ion-button shape="default" type="submit" fill="outline" [disabled]="!toDoForm.valid">Salvar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

