<app-header></app-header>

<ion-content [fullscreen]="true">
  <app-reload-page></app-reload-page>
  <div class="services">
    <div class=services-content>
      <a class="services-item" [routerLink]="['/conversor-pdf']">
        <div class="services-item-icon">
          <ion-icon name="document"></ion-icon>
        </div>
        <div class="service-item-title">
          <ion-text>
            <h4>Conversor de PDF</h4>
          </ion-text>
        </div>
      </a>
      <a class="services-item" [routerLink]="['/notepad']">
        <div class="services-item-icon">
          <ion-icon name="pencil"></ion-icon>
        </div>
        <div class="service-item-title">
          <ion-text>
            <h4>Bloco de notas</h4>
          </ion-text>
        </div>
      </a>
      <a class="services-item">
        <div class="services-item-icon">
          <ion-icon name="calendar"></ion-icon>
        </div>
        <div class="service-item-title">
          <ion-text>
            <h4>Calendário e Agenda</h4>
          </ion-text>
        </div>
      </a>
      <a class="services-item" [routerLink]="['/cep']">
        <div class="services-item-icon">
          <ion-icon name="search"></ion-icon>
        </div>
        <div class="service-item-title">
          <ion-text>
            <h4>Consultar CEP</h4>
          </ion-text>
        </div>
      </a>
      <a class="services-item" [routerLink]="['/to-do-list']">
        <div class="services-item-icon">
          <ion-icon name="checkmark-done-circle"></ion-icon>
        </div>
        <div class="service-item-title">
          <ion-text>
            <h4>Lista de Afazeres</h4>
          </ion-text>
        </div>
      </a>
    </div>
  </div>

</ion-content>
