<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text class="ion-text-center">
    <h1>Te apresentamos o</h1>
  </ion-text>
  <ion-img src="assets/logo/logo.png"></ion-img>

  <div class="cards-content">
    <div class="card primary">
      <ion-icon name="help-circle"></ion-icon>
      <ion-text>
        <p><strong>O UtilizeJá</strong> é o seu assistente pessoal multifuncional, projetado para  facilitar suas tarefas diárias de maneira rápida e eficiente. Com uma  interface intuitiva e uma ampla gama de ferramentas, o UtilizeJá é  indispensável para quem busca praticidade e conveniência no dia a dia.</p>
      </ion-text>
    </div>
    <div class="card peach">
      <ion-icon name="help-circle"></ion-icon>
      <ion-text>
        <p>Interface amigável e intuitiva para todos os tipos de usuários. 
          Economize espaço no seu dispositivo ao substituir vários aplicativos por um único app multifuncional.  Estamos sempre aprimorando nossas ferramentas e adicionando novas funcionalidades.  </p>
      </ion-text>
    </div>
    <ion-button shape="default" type="submit" color="secondary">Começar</ion-button>
  </div>
</ion-content>
