<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <div class="logo">
        <ion-icon name="close-outline"></ion-icon>
        UtilizeJá
      </div>
      <div class="line"></div>
      <div class="avatar"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home">
    <div class="introduction">
      <div class="introduction-content">
        <div class="introduction-services">
          <div class="introduction-item primary">
            <div class="introduction-item-icon">
              <ion-icon name="document"></ion-icon>
            </div>
            <div class="introduction-description">
              <h4>Conversor de PDF</h4>
              <p>Conversões em PDF</p>
            </div>
            <div class="introduction-direct">
              <ion-button shape="round" fill="clear">
                <ion-icon slot="icon-only" name="arrow-forward" color="primary"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="introduction-item">
            <div class="introduction-item-icon">
              <ion-icon name="checkmark-done-circle"></ion-icon>
            </div>
            <div class="introduction-description">
              <h4>Lista de Afazeres</h4>
              <p>Organize suas tarefas</p>
            </div>
            <div class="introduction-direct">
              <ion-button shape="round" fill="clear">
                <ion-icon slot="icon-only" name="arrow-forward" color="primary"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="introduction-item tertiary">
            <div class="introduction-item-icon">
              <ion-icon name="pencil"></ion-icon>
            </div>
            <div class="introduction-description">
              <h4>Bloco de notas</h4>
              <p>Faça suas anotações</p>
            </div>
            <div class="introduction-direct">
              <ion-button shape="round" fill="clear">
                <ion-icon slot="icon-only" name="arrow-forward" color="primary"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recommendations">
      <div class="recommendations-content">
        <div class="recommendations-slide" [ngClass]="slideImages[currentIndex].color">
          <ion-card *ngIf="slideImages.length > 0">
            <!-- <ion-img [src]="slideImages[currentIndex].image"></ion-img> -->
            <ion-card-header>
              <ion-card-title>
                {{ slideImages[currentIndex].description }}
              </ion-card-title>
            </ion-card-header>
          </ion-card>
          <div class="dots">
            <span *ngFor="let item of slideImages; let i = index"
                  [class.active]="i === currentIndex"
                  (click)="goToSlide(i)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</ion-content>
