<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="home">
    <div class="introduction">
      <div class="introduction-content">
        <div class="introduction-services">
          <a class="introduction-item" [routerLink]="['/conversor-pdf']">
            <div class="introduction-item-icon">
              <ion-icon name="document"></ion-icon>
            </div>
            <div class="introduction-description">
              <h4>Conversor de PDF</h4>
              <p>Conversões em PDF</p>
            </div>
            <div class="introduction-direct">
              <ion-button shape="round" fill="clear">
                <ion-icon slot="icon-only" name="arrow-forward" color="primary"></ion-icon>
              </ion-button>
            </div>
          </a>
          <a class="introduction-item" [routerLink]="['/']">
            <div class="introduction-item-icon">
              <ion-icon name="checkmark-done-circle"></ion-icon>
            </div>
            <div class="introduction-description">
              <h4>Lista de Afazeres</h4>
              <p>Organize suas tarefas</p>
            </div>
            <div class="introduction-direct">
              <ion-button shape="round" fill="clear">
                <ion-icon slot="icon-only" name="arrow-forward" color="primary"></ion-icon>
              </ion-button>
            </div>
          </a>
          <a class="introduction-item tertiary" [routerLink]="['/notepad']">
            <div class="introduction-item-icon">
              <ion-icon name="pencil"></ion-icon>
            </div>
            <div class="introduction-description">
              <h4>Bloco de notas</h4>
              <p>Faça suas anotações</p>
            </div>
            <div class="introduction-direct">
              <ion-button shape="round" fill="clear">
                <ion-icon slot="icon-only" name="arrow-forward" color="primary"></ion-icon>
              </ion-button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-slide></app-slide>

  </div>

  
</ion-content>
