ion-header{
    padding: .5rem 1rem;
}

.home{
    padding: 0 1rem;
    .introduction{
    
        .introduction-content{
    
            .introduction-services{
    
                .introduction-item{
                    padding: 1rem;

                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-bottom: 1rem;
                    justify-content: space-between;
                    border: 1px solid #000;
                    box-shadow: 1px 9px 0px -5px rgba(0,0,0,1);
                    text-decoration: none;
    
                    .introduction-item-icon{
                        border-radius: 12px;
                        background-color: #FFF;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 2rem;
                    }
    
    
                    .introduction-description{
                        width: 100%;
                        h4{
                            font-size: 1.1rem;
                            font-weight: 500;
                            margin-top: 0;
                            margin-bottom: 4px;
                        }
    
                        p{
                            font-size: .9rem;
                            margin: 0;
                            font-weight: 400;
                            color: #888
    
                        }
                    }
    
    
                    .introduction-direct{
                        ion-button{
                      
                            --box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

