ion-header{
    padding: .5rem 1rem;
}

.home{
    padding: 0 1rem;
    .introduction{
    
        .introduction-content{
    
            .introduction-services{
    
                .introduction-item{
                    padding: 1rem;

                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-bottom: 1rem;
                    justify-content: space-between;
    
                    border: 1px solid #000;
    
                    .introduction-item-icon{
                        border-radius: 12px;
                        background-color: #FFF;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 2rem;
                    }
    
    
                    .introduction-description{
                        width: 100%;
                        h4{
                            font-size: 1.1rem;
                            font-weight: 500;
                            margin-top: 0;
                            margin-bottom: 4px;
                        }
    
                        p{
                            font-size: .9rem;
                            margin: 0;
                            font-weight: 400;
                            color: #888
    
                        }
                    }
    
    
                    .introduction-direct{
                        ion-button{
                      
                            --box-shadow: none;
                        }
                    }
                }
            }
        }
    }
    
    .recommendations {
        margin-bottom: 2rem;
    
        .recommendations-content {
    
            .recommendations-header {
                padding: 0 1rem;
    
                ion-text {
    
                    h2 {
                        font-size: 1.2rem;
                        margin: 0;
                    }
                }
            }
    
            .recommendations-slide {
    
                background-color: var(--ion-color-primary);
    
                ion-card {
                    height: 200px;
                    box-shadow: none;
                    text-align: center;
                    background: none;
                    transition: transform 0.5s ease;
                    color: #FFF;
    
                    ion-img {
                        width: 35%;
                        margin: auto;
                        padding-top: 1rem;
                        max-height: 200px;
                        opacity: 1;
                        transition: opacity 0.5s ease;
                    }
    
                    ion-card-title {
                        text-align: center;
                        font-size: 1rem;
                        transition: color 0.5s ease;
                        color: #FFF;
                    }
    
                    ion-card-content {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: .2rem;
                    }
    
                    .button-link {
                        padding: 0 1rem .5rem 1rem;
                    }
                }
    
                .dots {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
    
                    span {
                        display: block;
                        height: 12px;
                        width: 12px;
                        background-color: #212121;
                        border-radius: 10px;
                        transition: background-color 0.5s ease;
    
                        &.active {
                            background-color: #FFF;
                        }
                    }
                }
            }
    
        }
    }
}

