ion-header{
    ion-title{
        padding-left: 0;
        h1{
            padding: .5rem .5rem .5rem 1rem;
            background-color: var(--ion-color-primary);
            color: #212121;
            font-weight: 600;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            text-align: center;
        }
    }
}

ion-card{
    border-radius: var(--radius-custom);
    box-shadow: none;
    margin-bottom: 1rem;
    
    &.color-primary{
        background-color: var(--ion-color-primary);
    }

    &.color-light-blue{
        background-color: #ABBAEF;
    }

    &.color-peach{
        background-color: #F8A084;
    }

    ion-card-title{
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1.25rem;
    }

    .button-link{
        padding: 0 1rem .5rem 1rem;
    }

}