<form class="login-form" [formGroup]="authForm" (ngSubmit)="submit()">
  <ion-input labelPlacement="stacked" placeholder="Digite seu email" formControlName="email" name="email">
    <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
  </ion-input>
  <div *ngIf="authForm.get('email')?.errors?.['required'] && (authForm.get('email')?.dirty || authForm.get('email')?.touched)">
    <ion-text color="danger">
      <p>Email é obrigatório.</p>
    </ion-text>
  </div>
  <div *ngIf="authForm.get('email')?.errors?.['email'] && (authForm.get('email')?.dirty || authForm.get('email')?.touched)">
    <ion-text color="danger">
      <p>Email inválido.</p>
    </ion-text>
  </div>

  <ion-input labelPlacement="stacked" placeholder="Digite sua senha" formControlName="password" name="password">
    <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
    <ion-button fill="clear" slot="end" aria-label="Show/hide">
      <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
    </ion-button>
  </ion-input>
  <div *ngIf="authForm.get('password')?.errors?.['required'] && (authForm.get('password')?.dirty || authForm.get('password')?.touched)">
    <ion-text color="danger">
      <p>Senha é obrigatória.</p>
    </ion-text>
  </div>
  <div *ngIf="authForm.get('password')?.errors?.['minlength'] && (authForm.get('password')?.dirty || authForm.get('password')?.touched)">
    <ion-text color="danger">
      <p>A senha deve ter no mínimo 6 caracteres.</p>
    </ion-text>
  </div>

  <div *ngIf="showRepeatPassword">
    <ion-input labelPlacement="stacked" placeholder="Repita sua senha" formControlName="passwordRepeat" name="password">
      <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>
    <div *ngIf="authForm.hasError('passwordMatch') && (authForm.get('passwordRepeat')?.dirty || authForm.get('passwordRepeat')?.touched)">
      <ion-text color="danger">
        <p>As senhas não correspondem.</p>
      </ion-text>
    </div>    
  </div>
  
  <ion-button shape="default" fill="outline" type="submit" id="button-login">
    <div *ngIf="loading !== true; else elseLoading">
      {{ btnText }}
    </div>
    <ng-template #elseLoading>
      <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </ng-template>
  </ion-button>
</form>

<div class="text-other">
  <p>OU</p>
</div>

<div class="login-google">
  <ion-button size="small" fill="outline" (click)="loginGoogle()">
    <div *ngIf="loading !== true; else elseLoading">
      <ion-icon name="logo-google"></ion-icon>
      Faça login com o Google
    </div>
    <ng-template #elseLoading>
      <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </ng-template>
  </ion-button>
</div>
