<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-img src="assets/logo/logo.svg"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-header">
    <ion-text>
      <h1>Faça login na sua conta</h1>
    </ion-text>
    <ion-text>
      <p>Estamos felizes em vê-lo novamente</p>
    </ion-text>
  </div>

  <app-form-auth (onSubmit)="loginFirebase($event)" (signGoogle)="loginFirebaseGoogle($event)"></app-form-auth>
  <p class="text-direct-form ion-text-center">Não possui cadastro? <a [routerLink]="['/cadastro']">Cadastrar</a></p>

  <div class="ion-text-center">
    <a [routerLink]="['/tabs/tab1']">Continuar sem login</a>
  </div>

</ion-content>
