ion-header{
    ion-toolbar ion-img, .header-content{
        justify-content: center;
    }
}


.login-header{
    text-align: center;

    ion-text{
        h1{
            margin-bottom: .5rem;
        }

        p{
            margin-top: 0;
            color: #6A6A6A;
        }
    }
}


.text-direct-form{
    color: #6A6A6A;

    a{
        color: #000000;
    }
}

