ion-header{
    .header-content{
        justify-content: center;
        display: flex;

        ion-img{
            display: flex;
            width: 50%;
            justify-content: center;
        }
    }
}

.header-md{
    box-shadow: none !important;
}


.login-header{
    text-align: center;

    ion-text{
        h1{
            margin-bottom: .5rem;
        }

        p{
            margin-top: 0;
            color: #6A6A6A;
        }
    }
}


.text-direct-form{
    color: #6A6A6A;

    a{
        color: #000000;
    }
}

