<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-img src="assets/logo/logo.svg"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-header">
    <ion-text>
      <h1>Faça login na sua conta</h1>
    </ion-text>
    <ion-text>
      <p>Estamos felizes em vê-lo novamente</p>
    </ion-text>
  </div>
  <form class="login-form">
    <ion-input labelPlacement="stacked" placeholder="Digite seu email">
      <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
    </ion-input>
    <ion-input labelPlacement="stacked" placeholder="Digite sua senha">
      <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>
    <ion-button shape="default" fill="outline"  type="submit" id="button-login">Fazer Login</ion-button>
  </form>
  <div class="text-other">
    <p>OU</p>
  </div>

  <div class="login-google">
    <div *ngIf="userData | async as user; else elseLoginButton">
      <p>Nome: {{ user.displayName }}</p>
      <p>Email: {{ user.email }}</p>
      <ion-button size="small" fill="outline" (click)="authLogoutGoogle()">
        <ion-icon name="exit-outline"></ion-icon>
        Sair
      </ion-button>
    </div>
    <ng-template #elseLoginButton>
        <ion-button size="small" fill="outline" (click)="authLoginGoogle()">
          <ion-icon name="logo-google"></ion-icon>
          Faça login com o Google
        </ion-button>
      </ng-template>
  </div>
  <p class="text-direct-form ion-text-center">Não possui cadastro? <a [routerLink]="['/cadastro']">Cadastrar</a></p>
</ion-content>
