<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-img src="assets/logo/logo.svg"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-header">
    <ion-text>
      <h1> Crie sua conta</h1>
    </ion-text>
    <ion-text>
      <p> Junte-se a nós e comece a organizar seu dia a dia!</p>
    </ion-text>
  </div>
  <app-form-auth
  (onSubmit)="registerLoginFirebase($event)"
  (signGoogle)="loginFirebaseGoogle()"
  [showRepeatPassword]="true"
  [btnText]="'Cadastrar'"
  
  ></app-form-auth>
  <p class="text-direct-form ion-text-center">Já possui login? <a [routerLink]="['/login']" >Login</a></p>
</ion-content>
